<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Member Manager</title>
</head>

<body>
    <!-- <script>
        const members = JSON.parse(document.getElementById('members_json').textContent);
        document.getElementById("member-noun").innerText = `member${members.length > 1 ? "s" : ""}` 
    </script> -->

    <h2>Team members</h2>
    <h3>You have {{ members|length }} team
        {% if members|length_is:"1" %}
        member.
        {% else %}
        members.
        {% endif %}
    </h3>

    <ul>
        {% for member in members %}
        <li>
            <h4>{{ member.first_name }} {{ member.last_name }}</h4>
            <p>{{ member.phone_number }}</p>
            <p>{{ member.email }}</p>
        </li>
        {% endfor %}
    </ul>
</body>

</html>